<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {{ gettext('Concent header') }}
    <ul class=entries>
      {% for key in attributes %}
        <li>{{key}}: {{attributes[key]}},
        </li>
      {% endfor %}
    </ul>
    <form action="save_consent">
        <button name="ok" value="Yes" type="submit">{{ gettext('YESS') }}</button>
        <button name="ok" value="No" type="submit">{{ gettext('NOO') }}</button>
        <input type="hidden" name="state" value="{{ state }}">
    </form>
</body>
</html>