<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {{ gettext('Concent header') }}
    <ul class=entries>
      {% for key in attributes %}
        <li>{{key}}: {{attributes[key]}},
        </li>
      {% endfor %}
    </ul>
    <form action="save_consent">
        <input type="submit" name="ok" value="{{ gettext('YESS') }}">
        <input type="submit" name="ok" value="{{ gettext('NOO') }}">
        <input type="hidden" name="state" value="{{ state }}">
    </form>
</body>
</html>