SSL=True
SERVER_CERT="./keys/server.crt"
SERVER_KEY="./keys/server.key"
JWT_PUB_KEY= ["./keys/satosa.pub"]
SECRET_SESSION_KEY="fdgfds%€#&436gfjhköltfsdjglök34j5oö43ijtglkfdjgasdftglok432jtgerfd"
PORT=8166
HOST="127.0.0.1"
DEBUG=False
TICKET_TTL=600
DATABASE_CLASS_PATH="cmservice.database.SQLite3ConsentDB"
DATABASE_CLASS_PARAMETERS=["test.db"]
AUTO_SELECT_ATTRIBUTES=True
MAX_CONSENT_EXPIRATION_MONTH=12
USER_CONSENT_EXPIRATION_MONTH = [3, 6]
LOGGING_FILE="cmservice.log"
LOGGING_LEVEL="WARNING"